// 공통
$black: #212529;
$white: #ffffff;
.dropPanel {
    display: block;
    text-decoration: none;
    transition: all 200ms ease;
    &.active {
        background-color: rgba(0, 0, 0, 0.45);
    }
    ul {
        li {
            a {
                background-color: transparent;
            }
        }
    }
}

.dropdown {
    transform: translatex(0%) rotatex(90deg) scale(0);
    transform-origin: 0 0;
    border-radius: 0.35em;
    background-color: rgba($white, 0.75);
    visibility: hidden;
    transition: all 200ms linear;
    width: 160px;
    &.menu {
        transform: translatex(0%);
        visibility: visible;
    }
    ul>li {
        &:hover {
            background-color: rgba(200, 200, 200, 0.55);
        }
    }
}

.detaildrop {
    transform: translatex(-40%) rotatex(90deg) scale(0);
    transform-origin: 0 0;
    border-radius: 0.35em;
    background-color: rgba($white, 1);
    visibility: hidden;
    transition: all 200ms linear;
    width: 160px;
    &.menu {
        transform: translatex(-40%);
        visibility: visible;
    }
    ul>li {
        &:hover {
            background-color: rgba(200, 200, 200, 0.55);
        }
    }
}

ul {
    list-style-type: none;
}

.theme--light.v-btn--active:before {
    opacity: 0;
}

.routerText {
    text-decoration: none;
}

.wrap-content {
    display: inline-block;
}

a {
    text-decoration: none;
}

// 메인 페이지
// 메인 카드
.card-title {
    font-size: 20px;
    margin-bottom: 0px !important;
}

.card-text {
    font-size: 16px;
    padding: 0 0 0 8px;
}

.card-tail-container {
    height: 40px;
    padding-left: 16px;
    display: table-cell;
    vertical-align: bottom;
}

.card-tail {
    vertical-align: text-bottom;
}

.card-small-text {
    font-size: 11px;
    line-height: 1em;
}

.mystudy-card-overlap {
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    width: 100%;
    height: 100%;
    transform: translate(0, 0);
    color: white;
    align-items: center;
    bottom: 0;
}

.newstudy-card-overlap {
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    width: 100%;
    height: 100%;
    transform: translateY(-88%);
    color: white;
}

.card-overlap-title {
    font-size: 25px;
}

.card-overlap-text {
    line-height: 1em;
}

.v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
}